<div class="container">

  <%# <button id="greet-user-button">Hello!</button> %>
  <!--- Does this tag need to go at the bottom of the page? --->


  <h2>Search for an entry</h2>

  <%= form_tag entries_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an entry"
    %>
    <div class="button-holder-top-bottom">
      <%= submit_tag "Search", class: "main" %>
    </div>
  <% end %>

  <div class="list-and-view">
    <div class="entries-list">
        <% @entries.each do |entry| %>

        <div class="entry-card" id="clickable-card">
          <h3><%= entry.date.strftime("%B %-d, %Y, %-k:%M") %></h3>
          <div class="entry-card-body">
            <p id="body-content"><%= entry.body %></p>
          </div>
          <div class="view-button">
            <p><%= link_to "View entry", entry_path(entry.id), class:"card-link" %></p>
          <%# <button onclick="showHideEntry()">Click to view entry</button> %>
          </div>

        </div>
        <% end %>
    </div>
    <div class="entries-view">
      <div id="body-card">
        <p id="body-fill"> Click an entry card</p>
      </div>
    </div>

  </div>

</div>
  <%= javascript_pack_tag 'clicker' %>
