<div class="container">
  <h1>Entries</h1>

  <button id="greet-user-button">Hello!</button>
  <button id="big-button" style="height: 50px">Big Button</button>
  <!--- Does this tag need to go at the bottom of the page? --->


  <h2>Search for the entry</h2>
  <p>Separate words with a space.</p>

  <%= form_tag entries_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an entry"
    %>
    <div class="button-holder">
      <%= submit_tag "Search", class: "main" %>
    </div>
  <% end %>

  <div class="list-and-view">
    <div class="entries-list">
        <% @entries.each do |entry| %>
        <div class="entry-card" id="clickable-card">
          <h3><%= entry.date.strftime("%B %-d, %Y, %-k:%M") %></h3>
          <p id="body-content"><%= entry.body %></p>
          <p><%= link_to "View entry", entry_path(entry.id), class:"card-link" %></p>
          <%# <button onclick="showHideEntry()">Click to view entry</button> %>
        </div>
        <% end %>
    </div>
    <div class="entries-view">
      <div id="body-card">
        <p>ENTRY CONTENT:</p>
        <p id="body-fill"> placeholder </p>
      </div>
    </div>

  </div>

</div>
  <%= javascript_pack_tag 'greeter', 'clicker' %>
