<div class="container">
  <h1>Index page </h1>
  <h2>Here are all the entries</h2>

  <%= form_tag entries_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an entry"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>




  <p>Add search form</p>

  <button id="greet-user-button">Hello!</button>

  <button id="big-button">CLICK ME</button>

  <!--- Does this tag need to go at the bottom of the page? --->
  <%= javascript_pack_tag 'greeter'%>

      <div id="entries">
        <% @entries.each do |entry| %>

          <p><%= entry.body %></p>
        <% end %>
      </div>


</div>
